.round-image           { border-radius: 50%; }
.card-margin-bottom    { margin-bottom: 1em; }
.landscape-image       { display: none; }
.portrait-image        { display: none; }
.home-margins          { margin: auto; margin-top:10%; max-width: 700px; }

p { font-size: 1.1em}
h1 { font-size: 2em}
h2 { font-size: 1.5em}
h3 { font-size: 1.125em}

a:link 	  { color: #404040; font-weight: 600;}
a:visited { color: #808080; }
a:hover   { text-decoration: underline; }

body {
color: #404040;
background-color:#f9f9f9;
text-align: left;
/* background-repeat:no-repeat;
background-position:top left;
background-attachment:fixed; */
-webkit-text-size-adjust: 100%;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Hover effect for table images */
td {
  position: relative;
  display: inline-block;
}

td img {
  transition: opacity 0.3s ease;
}

/* Create hover state - you'll need two images per cell */
td img.hover-image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
}

td:hover img.default-image {
  opacity: 0;
}

td:hover img.hover-image {
  opacity: 1;
}

@media screen and (max-width: 600px) {
	body {
		margin: 2.5%;
		padding: 0;
	}
}
