/*Importing fonts*/

body {
	background-color:#f4f4f4;
	background-repeat:no-repeat;
	background-position:top left;
	background-attachment:fixed;
	margin-left:50px;
	font-family: 'Catamaran', sans-serif;

}

h1 {
	color:#3B3B3B;
	font-size: 70px;
	font-weight: 200;
	line-height: 1;
	margin-top:250px;
	text-align: center;
}

h2 {
	color:#3B3B3B;
	font-size:28px	;
	font-style:normal;
	line-height: 0.8;
}

h3 {
	color:#3B3B3B;
	font-size:20px;
	font-style:normal;
	line-height: 0.8;
}

	h6 {
		color:#3B3B3B;
		font-size:14px	;
		font-style:normal;
		line-height: 1;
}

p {
	color:#3B3B3B;
	font-size:20px	;
	font-style:normal;
	line-height: 1;
}

a {
  transition: color .3s;
  color: #3B3B3B;
}

a:link,
a:visited { color: #3B3B3B; }
a:hover   { color: #ababab; }
a:active  { color: #888888; }
