body {
	background-color:#f4f4f4;
	background-repeat:no-repeat;
	background-position:top left;
	background-attachment:fixed;
	margin-left:50px;
	font-family: 'Catamaran', sans-serif;
	min-height: 75rem;
	padding-top: 4.5rem;
}

h1 {
	color:#3B3B3B;
	line-height: 1;
	margin-top:50px;
}

h2 {
	color:#3B3B3B;
	font-weight: 200;
}

h3 {
	color:#3B3B3B;
	font-weight: 200;
	width: 80%;
}

h6 {
	color:#3B3B3B;
}

p {
	color:#3B3B3B;
}

a {
  /* transition: color .3s; */
  color: #269268;
}

a:link,
/* a:visited { color: #269268; } */
a:hover   { color: #269268; }
/* a:active  { color: #269268; } */
